{% extends "registration/base_registration.html" %}

{% block title %}Восстановление паролья{% endblock %}
{% block form_title %}Восстановление паролья{% endblock %}

{% block note %}
	Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
{% endblock %}

{% block form %}
	{% if not request.user.is_authenticated %}
		{% if form.errors %}
			<div class="alert alert-error">
				{{ form.errors|cut:"__all__"|striptags }}
			</div>
		{% endif %}

		<form class="form-horizontal" method="post" action="">
			{% csrf_token %}
			<fieldset>
				<div class="control-group {% if form.email.errors %}error{% endif %}">
					<label class="control-label" for="id_email">Email</label>
					<div class="controls">
						<input type="text" id="id_email" name="email" placeholder="Email…" value="{{ form.data.email }}">
						{% if form.email.errors %}
							<span class="help-inline">{{ form.email.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
			</fieldset>
			<fieldset class="control-actions">
				<div class="control-group">
					<button class="btn btn-primary" type="submit">Восстановить</button>
				</div>
			</fieldset>
		</form>
	{% endif %}
{% endblock %}