{% extends "base.html" %}

{% block title %}{% endblock %}

{% block preload_css %}
    <style>
        h1 {
            margin-bottom: 30px;
        }
        .login-form {
            background-color: #DCEAF4;
            padding-top: 20px;
            padding-bottom: 30px;
            border-radius: 7px 7px 7px 7px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    <h1 align="center">Авторизация</h1>

    <div class="row login-form">
        {% if request.user.is_authenticated %}
            <h2 style="margin-left: 30px;">Вы вошли как {{ request.user.username }}</h2>
        {% else %}
            <div class="span6">
                <table align="center">
                    <tr>
                        <td>
                            <form class="form-vertical" method="POST" action="{% url auth_login %}">
                                {% csrf_token %}
                                <fieldset>
                                    <legend>Обычный вход</legend>
                                    <div class="control-group">
                                        <label class="control-label" for="id_email">Логин</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" id="id_email" type="text" placeholder="Почта…" name="email">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Пароль</label>
                                        <div class="controls">
                                            <input class="input-xlarge" type="password" id="id_password" value="" placeholder="Пароль…" name="password">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input type="submit" class="btn-large btn-primary" value="Войти" style="margin-right: 10px;">
                                            <a href="{% url auth_password_reset %}">Забыли пароль?</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="span6">
                <table>
                    <tr align="center">
                        <td>
                            <form class="form-vertical">
                                <fieldset>
                                    <legend>Используя аккаунты социальных сетей</legend>
                                </fieldset>
                            </form>
                            <a style="margin-bottom: 20px;" class="btn-large btn-primary" href="{% url socialauth_begin 'facebook' %}">
                                Войти через Facebook
                            </a>
                            <p style="margin-top: 20px;">
                                А еще можно войти через <a href="{% url socialauth_begin 'vkontakte' %}">Вконтакте.ru</a>.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}