{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block preload_css %}
    <style type="text/css">
        p {
            margin: 20px;
            text-indent: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>О проекте</h2>
    <dl>
        <dt>Цель</dt>
        <dd>организация виртуального коммуникативного пространства для детей.</dd>
        <dt>Аудитория</dt>
        <dd>дети и подростки от 10 до 18 лет.</dd>
        <dt>Срок</dt>
        <dd>01 октября 2011 – 30 апреля 2012.</dd>
        <dt>Руководитель проекта</dt>
        <dd>
            Аксенова Татьяна Николаевна – директор Белоярской централизованной библиотечной системы,
            <strong>г.Белоярский, телефон (34670)2-53-51</strong>
        </dd>
    </dl>

    <h2>Ответственные</h2>
    <ul>
        <li>
            Старикова Татьяна Викторовна – Заместитель директора Белоярской централизованной библиотечной системы,
            <strong>г. Белоярский, телефон (34670)2-30-22</strong>;
        </li>
        <li>
            Грачева Лилия Александровна – Заведующая отделом обслуживания Центральной районной библиотекой,
            <strong>г. Белоярский, телефон (34670)2-30-22</strong>;
        </li>
        <li>
            Терещенко Ольга Геннадьевна – Заместитель директора по работе с детьми, г. Белоярский,
            <strong>(34670)2-16-97;</strong>
        </li>
        <li>
            Майшева Светлана Леонидовна – Заведующая Юношеской библиотекой,
            <strong>г. Белоярский, (34670)2-73-83</strong>;
        </li>
        <li>Рочева Наталья Михайловна – Библиотекарь библиотеки с.Полноват;</li>
        <li>Шабаршина Нина Васильевна – Библиотекарь библиотеки с.Ванзеват.</li>
    </ul>


    <h2>Правила</h2>

    <h4>Для того чтобы стать участником проекта нужно:</h4>
    <ul>
        <li>Знать дорогу в ближайшую библиотеку;</li>
        <li>Интересоваться историей родного края.</li>
    </ul>

    <p>
        Проект считается запущенным в работу, если в качестве участников заявлено не менее 25 человек.
        Творческие задания могут быть выполнены индивидуально, но кроме этого вам могут помогать друзья.
    </p>
    
    <h4>Ключ проекта</h4>
    <p>
        Проект начинается с вводного мероприятия, которое проводится в библиотеках – участницах в определенный день, и время единые для всех.
        На вводном мероприятии ответственные регистрируют постоянных участников, рассказывают о целях, содержании и правилах проекта, проводят тематическое мероприятие и дают творческое задание для самостоятельной подготовки участниками. Во время самостоятельной творческой работы, ответственные курируют работу участников, оказывая консультативную и методическую помощь.
        Готовая творческая работа размещается на странице net. творчество под определенным заглавием жанра в котором выполнена работа:
    </p>
    <ul>
        <li>Загадки;</li>
        <li>Песенки и стишки;</li>
        <li>Записки, заметки;</li>
        <li>Рассказы и сказки;</li>
        <li>Интервью и эссе;</li>
        <li>Фото- презентации и коллажи;</li>
    </ul>

    <p>
        В каждой работе должен быть указан автор (фамилия и имя, населенный пункт, возраст, класс).
    </p>
    <p>
        Но попасть в net. творчество , возможно только после прохождения net. разминки. Задание net. разминки состоит из 10 случайно выбранных компьютером вопросов, правильный ответ на вопрос, является условием перехода к следующему вопросу. После прохождения net. разминки, участник автоматически попадает в раздел net. творчество, где может разместить свою работу.
    </p>
{% endblock %}