{% load tree_menu_tags %}

<script type="text/javascript">
	// Не закрывает выпадающий список с формой авторизации
	$(document).ready(function() {
		$('.dropdown form').bind('click', function (e) {
			e.stopPropagation()
		});
	});
</script>

<!-- Top Menu -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-left">
				{% ifequal request.path '/' %}
					<a class="brand" href="#" id="logo" style="cursor: default;">Края лучше .NET</a>
				{% else %}
					<a class="brand" href="/" id="logo">Края лучше .NET</a>
				{% endifequal %}

				<!--li>
					<form class="navbar-search pull-left" action="{% url works_search %}">
						<input type="text" class="search-query" placeholder="Поиск работ" maxlength="128" name="query" value="{{ request.GET.query }}">
					</form>
				</li-->
			</ul>

			<ul class="nav pull-right">
				<li {% ifequal request.path '/works/training/' %}class="active"{% endifequal %}>
					<a href="{% url work_training %}">Разминка</a>
				</li>
				<li {% if '/works/list/' in request.path %}class="active"{% endif %}>
					<a href="{% url works_list %}">Творчество</a>
				</li>
				<li {% ifequal request.path '/works/ratio/' %}class="active"{% endifequal %}>
					<a href="{% url works_ratio %}">Рейтинг</a>
				</li>
				<li>
					<a href="{% url guide_list %}">
						<i class="icon-question-sign icon-white"></i> Помощь
					</a>
				</li>

                {% if request.user.is_authenticated %}
                    <!-- Auth menu -->
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user icon-white"></i> {{ request.user.username }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url works_by_user request.user.id %}">Мои работы</a>
							</li>
							<li>
								<a href="{% url work_add %}">Добавить работу</a>
							</li>
							<li class="divider"></li>
							<!--li>
								<a href="#">
									<i class="icon-cog"></i> Настройки
								</a>
							</li-->
							<li>
								<a href="{% url auth_logout %}">
									<i class="icon-off"></i> Выйти
								</a>
							</li>
						</ul>
                    </li>
					<!-- Auth menu -->
                {% else %}
                    <!-- No Auth menu -->
                    <li>
                        <a href="{% url registration_register %}">Регистрация</a>
                    </li>
                    <li>
                        <a href="{% url login_page %}?next=/">Вход</a>
                    </li>
                    <!-- No Auth menu -->
                {% endif %}
				
			</ul>
		</div>
		<div class="container" style="">
			<ul class="nav pull-left">
				{% show_menu "MainMenu" "top_horizontal" %}
			</ul>
		</div>
	</div>
</div>
<!-- Top Menu -->