{% load tree_menu_tags %}

<script type="text/javascript">
	// Не закрывает выпадающий список с формой авторизации
	$(document).ready(function() {
		$('.dropdown form').bind('click', function (e) {
			e.stopPropagation()
		});
	});
</script>

{% url works_ratio as url_ratio %}
{% url guide_list as url_guide_list %}
{% url works_list as url_works_list %}
{% url work_apply as url_work_apply %}
{% url work_add as url_work_add %}
{% url work_training as url_work_training %}
{% if request.user.is_authenticated %}
    {% url works_by_user request.user.id as url_works_by_user %}
{% endif %}
{% url main_page as url_main_page %}
{% url works_ratio as url_ratio %}

<!-- Top Menu -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-left">
				{% ifequal request.path url_main_page %}
					<a class="brand" href="#" id="logo" style="cursor: default;">BelLib.Ru - Края лучше .NET</a>
				{% else %}
					<a class="brand" href="/" id="logo">BelLib.Ru - Края лучше .NET</a>
				{% endifequal %}
			</ul>

			<ul class="nav pull-right">
				<li {% ifequal url_works_list request.path %}class="active"{% endifequal %}>
					<a href="{% url works_list %}">Творчество</a>
				</li>
				<li {% ifequal request.path url_ratio %}class="active"{% endifequal %}>
					<a href="{% url works_ratio %}">Рейтинг</a>
				</li>
				<li {% ifequal request.path url_guide_list %}class="active"{% endifequal %}>
					<a href="{% url guide_list %}">
						<i class="icon-question-sign icon-white"></i> Помощь
					</a>
				</li>
                {% if request.user.is_authenticated %}
                    <!-- Auth menu -->
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user icon-white"></i> {{ request.user.username }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
                            {% if request.user.get_profile.get_apply_access and request.user.get_profile.did_training %}
                                <li {% ifequal url_works_by_user request.path %}class="active"{% endifequal %}>
                                    <a href="{% url works_by_user request.user.id %}">Мои работы</a>
                                </li>
                            {% else %}
                                <li {% ifequal request.path url_work_apply %}class="active"{% endifequal %}>
                                    <a href="{% url work_apply %}">
                                        {% if request.user.get_profile.get_apply_exists %}
                                            <s>Подать заявку</s>
                                        {% else %}
                                            Подать заявку
                                        {% endif %}
                                    </a>
                                </li>
                                <li {% ifequal request.path url_work_training %}class="active"{% endifequal %}>
                                    <a href="{% url work_training %}">
                                        {% if request.user.get_profile.did_training %}
                                            <s>Пройти разминку</s>
                                        {% else %}
                                            Пройти разминку
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                            <li {% ifequal request.path url_work_add %}class="active"{% endifequal %}>
                                <a href="{% url work_add %}">Добавить работу</a>
                            </li>
							<li class="divider"></li>
							<li>
								<a href="{% url auth_logout %}">
									<i class="icon-off"></i> Выйти
								</a>
							</li>
						</ul>
                    </li>
					<!-- Auth menu -->
                {% else %}
                    <!-- No Auth menu -->
                    <li>
                        <a href="{% url registration_register %}">Регистрация</a>
                    </li>
                    <li>
                        <a href="{% url login_page %}?next=/">Вход</a>
                    </li>
                    <!-- No Auth menu -->
                {% endif %}
				
			</ul>
		</div>
		<div class="container" style="">
			<ul class="nav pull-left">
				{% show_menu "MainMenu" "top_horizontal" %}
			</ul>
		</div>
	</div>
</div>
<!-- Top Menu -->